{
  "presets": [

    ["@babel/env", {
      "modules": false
      }]
    // "flow-vue"
    , "power-assert"
  ],
  "plugins": [
    
    // "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["power-assert"]
    }
  }
}
